{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Main page</h2>

    <section id="searchbar">

       <form method="post" action="/search">
    
            <label>
                Search tracker ID
                <input name="id" type="int" required>
            </label>

            <button>Search</button>
        </form>

    </section>

{% endblock %}

