{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Main page</h2>

    <section id="placemcholder">

       

    </section>

{% endblock %}

