{#=====================================================
  log-in page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Log in</h2>

    <section id="form">

       <form method="post" action="/login">
            <label>
                Username
                <input name="username" type="text" required>
            </label>
            <label>
                Password
                <input name="password" type="password" required>
            </label>

            <button>Log in</button>
        </form>

    </section>

{% endblock %}

