{#=====================================================
  Project creation page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>Define Milestones</h2>

    Project: {{ project.name }}
    Description: {{ project.desc }}

    <h3>Current Milestones</h3>

    <ul>
        {% for milestone in milestones %}
            <li>{{ milestone.name }}</li>
        {% endfor%}
    </ul>

    <h4>New Milestone</h4>
    <section id="form">

        <form method="post" action="/addm">

            <label>
                Name
                <input name="name" type="text" required>
            </label>

            <label>
                Complete
                <input name="complete" type="checkbox" required>
            </label>

            <button>Add</button>
        </form>

    </section>

{% endblock %}

