{#=====================================================
  View page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>{{ info.name }}</h2>

    

{% endblock %}

